.vector-icon {
    position: absolute;
    top: 3.099rem;
    right: 15.078rem;
    width: 6.956rem;
    height: 1.519rem;
}

.bkg-home img {
    width: 100%;
}

.title {
    position: relative;
    font-size: 1rem;
    font-family: 'Avenir Next';
    color: #364a5e;
    text-align: left;
    font-weight: 500;
}

.shape {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 25px;
    border: 1.2px solid #ecf0f1;
    box-sizing: border-box;
}

.group {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    display: none;
}

.vuesaxlinearnotification-icon {
    position: absolute;
    height: 40%;
    width: 39.96%;
    top: 30%;
    right: 30.03%;
    bottom: 30%;
    left: 30.01%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.button-notification {
    width: 3.144rem;
    position: relative;
    height: 3.125rem;
    cursor: pointer;
}

.ellipse-icon {
    position: absolute;
    top: calc(50% - 22px);
    left: calc(50% - 22.15px);
    border-radius: 50%;
    width: 2.75rem;
    height: 2.75rem;
    object-fit: cover;
}

.group1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}

.button-notification1 {
    width: 3.144rem;
    position: relative;
    height: 3.125rem;
}

.button-notification-parent {
    width: 6.881rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.header1 {
    position: absolute;
    top: 5.648rem;
    left: 0;
    border-radius: 20px 20px 0px 0px;
    background-color: #fff;
    width: 23.438rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    box-sizing: border-box;
    width: 100%;
}

.header {
    width: 100%;
    position: relative;
    height: 10.275rem;
    text-align: left;
    font-size: 1rem;
    color: #364a5e;
    font-family: 'Avenir Next';
}