body {
    background-color: #ECF0F1;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.container {
    margin-top: -40%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    background-color: #FFFFFF;
    width: 90%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    color: #1e1e1e;
    font-size: 1.5rem;
    font-weight: bold;
}

form {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.link {
    color: #39A58E;
    text-align: center;
    text-decoration: none;
}

.error-message {
    color: red;
}

.separator {
    justify-content: space-around;
    margin: 1rem;
    align-items: center;
    gap: 12px;
}

.password-input-container {
    position: relative;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 0.875rem;
}

.form-control.error {
    border: 1px solid red;
}

.position-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.success-message {
    color: #28a745;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}