.navbar {
  background-color: #fff;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-content {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  width: 100%;
}

.nav-item {
  text-align: center;
  text-decoration: none;
  color: #1e1e1e;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5px;
}

.nav-icon {
  width: 24px;
  height: auto;
}