.lista-espacios {
    padding: 1rem;
}

.titulo {
    margin-bottom: 1rem;
}

.entrada-busqueda {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.entrada-busqueda:focus {
    border-color: #39a58e;
    outline: none;
}

.alerta {
    padding: 1rem;
    border-radius: 4px;
}

.alerta-info {
    background-color: #e7f3fe;
    color: #31708f;
}

.columna-espacio {
    display: flex;
    flex-direction: column;
    /* Asegura que los espacios se muestren en una columna */
}

.espacio {
    border-radius: 8px;
    background-color: #f8fafc;
    border: 1px solid #e2e8f0;
    margin-bottom: 1rem;
}

.marco-imagen {
    position: relative;
}

.imagen-espacio {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.contenido-espacio {
    padding: 1rem;
}

.nombre-espacio {
    font-weight: bold;
}

.icono-ubicacion {
    display: flex;
    align-items: center;
}

.icono {
    width: 1rem;
    margin-right: 0.25rem;
}

.direccion-ubicacion {
    color: #848484;
}

.precio-espacio {
    display: flex;
    justify-content: space-between;
}