.favorites {
  padding: 20px;
}

.favorite-container {
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #DBDBDB;
  display: flex;
  gap: 10px;
}

.favorites .datos-favoritos {
  flex-direction: column;
}

.favorite {
  align-items: flex-start;
  display: flex;
  gap: 12px;
  position: relative;
}

.favorite img {
  height: 90px;
  object-fit: cover;
  width: 90px;
  border-radius: 8px;
}

.favorite-name {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 5px 0;
  color: #364A5E;
}

.favorite-address {
  color: #848484;
  font-size: .8rem;
  margin-bottom: 10px;
  display: flex;
  align-items: start;
  gap: 5px;
}

.favorite-address img {
  width: 16px;
}

.favorites .precio,
.favorites .link {
  justify-content: start;
  align-items: center;
  padding: 5px 0;
}