body {
    background-color: #FFFFFF;
}

.my-account {
    padding: 20px;
}

.user-info p {
    margin-bottom: 10px;
    color: #364A5E;
}

.user-info p:first-child {
    font-size: 1.2rem;
    font-weight: bold;
}

.user-info p.font-small {
    font-size: .8rem;
}

.reservations {
    background-color: #ECF0F1;
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
}

.reservations h3 {
    font-size: 1.5rem;
    color: #364A5E;
    font-weight: bold;
}

.reservation-container {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 8px;
}

.reservation {
    align-items: flex-start;
    display: flex;
    gap: 12px;
    position: relative;
}

.reservation img {
    height: 90px;
    object-fit: cover;
    width: 90px;
}

.reservation .datos-reservas {
    flex-direction: column;
}

.reservation-name {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    color: #364A5E;
}

.reservation-address {
    color: #848484;
    font-size: .8rem;
    margin-bottom: 10px;
}

.reservation-date {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .8rem;
    margin: 0 0 5px 0;  
}

.reservation-date img {
    width: 20px;
    height: 20px;
}