body {
    background-color: #FFFFFF;
}

.my-account {
    padding: 20px;
}

.user-info {
    padding: 20px 0;
}

.user-info p {
    margin-bottom: 10px;
    color: #364A5E;
}

.user-info p:first-child {
    font-size: 1.2rem;
    font-weight: bold;
}

.user-info p.font-small {
    font-size: .8rem;
}

button {
    align-items: center;
    background-color: #364A5E;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 12px 16px;
    position: relative;
    color: #FFFFFF;
}

button:hover {
    background-color: #0056b3;
}

.reserve-button {
    background-color: #364A5E;
    border-radius: 8px;
    padding: 12px 16px;
    position: relative;
    color: #FFFFFF;
    margin: 20px auto;
}

.reservations {
    background-color: #ECF0F1;
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
}

.reservations h3 {
    font-size: 1.5rem;
    color: #364A5E;
    font-weight: bold;
}

.reservation-container {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 8px;
}

.reservation {
    align-items: flex-start;
    display: flex;
    gap: 12px;
    position: relative;
}

.reservation img {
    height: 90px;
    object-fit: cover;
    width: 90px;
}

.reservation .datos-reservas {
    flex-direction: column;
}

button.link {
    align-items: center;
    background-color: transparent;
    border-radius: 0;
    display: flex;
    justify-content: center;
    padding: 12px 16px;
    position: relative;
    color: #39A58E;
    border: 0;
    margin-top: 30px;
    width: 100%;
}

button.link:hover {
    background-color: transparent;
}

.warning-icon {
    width: 50%;
    margin: auto;
    text-align: center;
}