.contenido-detalle {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.services-list {
    list-style: none;
    padding: 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.services-list li {
    padding: 10px;
    background-color: rgba(57, 165, 142, .2);
    border-radius: 8px;
    color: #364A5E;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #39A58E;
}

.services-list li img {
    fill: #364A5E;
    color: #364A5E;
}

.imagen-espacio {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0;
}