.lista-espacios {
    padding: 1rem;
    width: 100%;
}

.titulo h2 {
    margin-bottom: 1rem;
    font-family: "Avenir Next";
    font-size: 1rem;
    color: #1E1E1E;
    text-align: left;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    z-index: 9;
}

.close-circle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.iconos-ordenar-filtrar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Avenir Next";
    font-size: 0.875rem;
    color: #364A5E;
}

.alerta {
    padding: 1rem;
    border-radius: 4px;
}

.alerta-info {
    background-color: #e7f3fe;
    color: #31708f;
}

.espacio-contenedor {
    display: flex;
    flex-direction: column;
}

.espacio {
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    margin-bottom: 1rem;
}

.marco-imagen {
    position: relative;
}

.imagen-espacio-lista {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.contenido-espacio {
    padding: 1rem;
}

.nombre-espacio {
    font-weight: bold;
    font-size: 1.2rem;
    color: #364a5e;
    margin-bottom: 0;
}

.direccion {
    font-size: .9rem;
    color: #848484;
    display: flex;
    gap: 5px;
}

.direccion img {
    width: 16px;
}

.icono-ubicacion {
    display: flex;
    align-items: center;
}

.icono {
    width: 1rem;
    margin-right: 0.25rem;
}

.precio {
    font-size: 1.25rem;
    font-weight: bold;
    color: #39A58E;
    margin: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.precio span {
    font-size: .8rem;
    color: #364A5E;
}

.moneda {
    margin: 0;
}

.drawer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100%;
    background-color: white;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
    transition: bottom 0.3s ease;
    z-index: 99999;
    border-radius: 20px;
}

.modal-visible {
    bottom: 0;
}

.drawer .modal-contenido {
    padding: 20px;
}

.drawer .modal-contenido h3 {
    font-size: 1rem;
    font-family: "Avenir Next";
    color: #364A5E;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.list-unstyled {
    list-style: none;
    padding: 0;
}

.list-unstyled .btn.btn-link {
    color: #364A5E;
    font-size: 1rem;
    outline: none;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: .5rem 0;
    text-decoration: none;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control, .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select, .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-radius: 8px;
}

.iconos-ordenar-filtrar .icono-ordenar {
    color: #39a58e !important;
    fill: #39a58e !important;
    border: "1px solid #39a58e" !important;
}

.iconos-ordenar-filtrar .texto-ordenar {
    color: #39a58e;
    cursor: "pointer";
    margin-left: "8px";
}


.tag-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.imagen-detalle {
    position: relative;
}

.tag-container {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #364a5e;
    border-radius: 40px;
    display: inline-flex;
    gap: 4px;
    justify-content: center;
    padding: 8px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.precio {
    font-weight: bold;
}

.website a {
    color: #39A58E;
    text-decoration: none;
}